In [ ]:
a = 5
b = 3
sum = a + b
print("Sum:", sum)

Sum: 8

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
a = 4
b = 6
product = a * b
print("Product:", product)

Product: 24

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
total = num1 + num2
print("Total:", total)

Enter first number: 22
Enter second number: 23
Total: 45

In [ ]:
n = int(input("Enter a number: "))
total_sum = 0

for i in range(1, n+1):
    total_sum += i

print("Sum of numbers from 1 to", n, "is:", total_sum)

Enter a number: 6
Sum of numbers from 1 to 6 is: 21

In [ ]:
numbers = [10, 20, 30, 40, 50]
list_total = sum(numbers)
print("Sum of list elements:", list_total)

TypeError: 'int' object is not callable

In [ ]:
fruits = ["apple", "banana", "mango"]
fruits.append("orange")
print("Updated list:", fruits)

Updated list: ['apple', 'banana', 'mango', 'orange']